---
import Layout from "../../../../layouts/index.astro"
---

<Layout>
	<ul>
		<li>
			<strong>Abbr</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
		<li>
			<strong>Area</strong>
			<code>= (attributes = {}) =&gt;</code>
			<strong>EMPTY</strong>
		</li>
		<li>
			<strong>B</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
		<li>
			<strong>Bdi</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
		<li>
			<strong>Bdo</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
		<li>
			<strong>Br</strong>
			<code>= (attributes = {}) =&gt;</code>
			<strong>EMPTY</strong>
		</li>
		<li>
			<strong>Cite</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
		<li>
			<strong>Code</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
		<li>
			<strong>Data</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
		<li>
			<strong>DataList</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
		<li>
			<strong>Del</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
		<li>
			<strong>Dfn</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
		<li>
			<strong>Em</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
		<li>
			<strong>I</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
		<li>
			<strong>Ins</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
		<li>
			<strong>Kbd</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
		<li>
			<strong>Map</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
		<li>
			<strong>Mark</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
		<li>
			<strong>Q</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
		<li>
			<strong>Ruby</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
			<ul>
				<li>
					<strong>Rp</strong>
					<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
				</li>
				<li>
					<strong>Rt</strong>
					<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
				</li>
			</ul>
		</li>
		<li>
			<strong>S</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
		<li>
			<strong>Samp</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
		<li>
			<strong>Slot</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
		<li>
			<strong>Small</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
		<li>
			<strong>Span</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
		<li>
			<strong>Strong</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
		<li>
			<strong>Sub</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
		<li>
			<strong>Sup</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
		<li>
			<strong>Template</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
		<li>
			<strong>Time</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
		<li>
			<strong>U</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
		<li>
			<strong>Var</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
		<li>
			<strong>Wbr</strong>
			<code>= (attributes = {}) =&gt;</code>
			<strong>EMPTY</strong>
		</li>
	</ul>
</Layout>
