---
import Layout from "../../../layouts/index.astro"
---

<Layout>
	<ul>
		<li>
			<strong>Base</strong>
			<code>= (attributes = {}) =&gt;</code>
			<strong>EMPTY</strong>
		</li>
		<li>
			<strong>Style</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
	</ul>
</Layout>
