---
import Layout from "../../../../layouts/index.astro"
---

<Layout>
	<ul>
		<li>
			<strong>Audio</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
		<li>
			<strong>Canvas</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
		<li>
			<strong>Embed</strong>
			<code>= (attributes = {}) =&gt;</code>
			<strong>EMPTY</strong>
		</li>
		<li>
			<strong>IFrame</strong>
			<code>= (attributes = {}) =&gt;</code>
			<strong>EMPTY</strong>
		</li>
		<li>
			<strong>Img</strong>
			<code>= (attributes = {}) =&gt;</code>
			<strong>EMPTY</strong>
		</li>
		<li>
			<strong>Object</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
		<li>
			<strong>Picture</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
		<li>
			<strong>Source</strong>
			<code>= (attributes = {}) =&gt;</code>
			<strong>EMPTY</strong>
		</li>
		<li>
			<strong>Video</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
	</ul>
</Layout>
