:root {
	/* Border Colors */
	--border-color: var(--light-medium-gray);
	--border-color-invalid: var(--light-medium-orange);

	/* Layout */
	--form-field-gap: 0.5rem;
	--form-field-max-width: 100%;

	--form-field-untouched-border-color-focus: var(--light-medium-green);

	/* Input */
	--form-field-input-background-color: var(--light-gray);
	--form-field-input-border-radius: 0.25rem;
	--form-field-input-border: 1px solid var(--light-medium-gray);
	--form-field-input-color: var(--darkest-gray);
	--form-field-input-padding-block: 0.5rem;
	--form-field-input-padding-inline: 0.5rem;
	--form-field-input-transition: all 0.2s ease;

	/* Focus */
	--form-field-focus-offset: 5px;
	--form-field-focus-width: 1px;
	--form-field-focus-style: solid;

	/* Input Invalid */
	--form-field-input-invalid-border: 2px dashed var(--dark-medium-red);
	--form-field-input-invalid-focus-border: 2px dashed var(
		--border-color-invalid
	);
	--form-field-input-invalid-focus-outline: 2px solid purple;

	/* Label */
	--form-field-label-font-weight: 500;
	--form-field-label-color: var(--darkest-gray-text);

	/* Typography */
	--form-field-input-font-size: var(--text-font-size);
	--form-field-input-line-height: 1;

	@media (prefers-color-scheme: dark) {
		--border-color: var(--dark-medium-gray);
		--border-color-invalid: var(--light-orange);
		--form-field-untouched-border-color-focus: var(--light-medium-green);
		--form-field-input-background-color: var(--dark-gray);
		--form-field-input-invalid-border: 2px dashed var(--light-medium-red);
		--form-field-input-invalid-focus-border: 2px dashed var(
			--border-color-invalid
		);
		--form-field-input-invalid-focus-outline: 2px solid violet;
		--form-field-label-color: var(--lightest-gray-text);
	}
}

/* Base form field styles */
.form-field {
	display: flex;
	flex-direction: column;
	gap: var(--form-field-gap);
	max-width: var(--form-field-max-width, 100%);
}

details > summary:focus,
input:focus,
select:focus,
textarea:focus {
	outline: 3px solid var(--radio-outline-color-focus);
	outline-offset: 5px;
}

details > summary:focus {
	border-radius: 5px;
}

/* Required fields markup */
.form-field:not(:has(legend)):has(:required) > .label::after,
.form-field:has(:required) > legend > .label::after {
	content: "*";
	color: var(--required-symbol-foreground-color);
	font-size: var(--h5-font-size);
}

.form-field:not(:has(legend)):not(:has(:required)) > .label::after,
.form-field:not(:has(:required)) > legend > .label::after {
	content: " (optional)";
	color: var(--form-field-label-color);
	font-size: 1rem;
}

.form-field select[data-touched]:valid,
.form-field textarea[data-touched]:valid {
	background-color: var(--lightest-gray);
	border: 2px solid var(--light-medium-green);
}

.form-field select[data-touched]:invalid,
.form-field textarea[data-touched]:invalid {
	background-color: var(--lightest-orange);
	border: 2px dashed var(--border-color-invalid);
}
