:root {
	--menu-item-background-color: white;
	--menu-item-border-color: var(--darkest-gray);
	--menu-item-foreground-color: var(--darkest-gray);
	--menu-item-background-color-hover: var(--light-gray);
	--menu-item-foreground-color-hover: var(--darkest-gray);
	--menu-item-background-color-active: var(--dark-gray);
	--menu-item-foreground-color-active: var(--lightest-gray);

	@media (prefers-color-scheme: dark) {
		--menu-item-background-color: var(--dark-medium-gray);
		--menu-item-border-color: var(--dark-medium-gray);
		--menu-item-foreground-color: var(--lightest-gray);
		--menu-item-background-color-hover: var(--dark-medium-gray);
		--menu-item-foreground-color-hover: var(--lightest-gray);
		--menu-item-background-color-active: var(--dark-medium-gray);
		--menu-item-foreground-color-active: var(--lightest-gray);
	}
}

nav.dropdown #menu-toggle {
	height: 0;
	opacity: 0;
	width: 0;
}

nav.dropdown li {
	font-variant: small-caps;
	letter-spacing: 0.5px;
	text-transform: lowercase;
}

@media (width > 65rem) {
	nav.dropdown > header > label {
		display: none;
	}

	nav.dropdown menu {
		align-items: center;
		display: flex;
		font-family: var(--menu-font);
		font-weight: 500;
		gap: 0.5rem;
		justify-content: flex-end;
		list-style: none;
		margin: 0;
		padding: 0;
	}

	nav.dropdown menu li {
		display: inline;
	}

	nav.dropdown menu a {
		display: inline-block;
		padding-inline: 0.5rem;
		text-decoration: none;
	}

	nav.dropdown menu a:focus,
	nav.dropdown menu a:hover {
		border-radius: 5px;
		outline-offset: 0;
		outline: 1px solid currentcolor;
	}

	nav.dropdown .this-page {
		display: inline-block;
		font-weight: 500;
		font-variant: small-caps;
		letter-spacing: 0.5px;
		padding-inline: 0.5rem;
		text-decoration: overline;
		text-transform: lowercase;
	}
}

@media (width <= 65rem) {
	:root {
		--menu-border: 1px solid var(--menu-item-border-color);
	}

	nav.dropdown > header > label {
		align-items: flex-end;
		cursor: pointer;
		display: flex;
		font-family: Georgia;
		justify-content: center;
	}

	nav.dropdown > header > label:focus-within {
		border-radius: 5px;
		outline: 1px solid currentcolor;
		outline-offset: 5px;
	}

	nav.dropdown .menu-icon.open {
		font-size: 64px;
		font-weight: 700;
	}

	nav.dropdown .menu-icon.close {
		display: none;
	}

	nav.dropdown:has(:checked) .menu-icon.open {
		display: none;
	}

	nav.dropdown:has(:checked) .menu-icon.close {
		display: block;
		font-size: 42px;
		font-weight: 900;
	}

	nav.dropdown {
		position: relative;
	}

	nav.dropdown summary .close,
	nav.dropdown summary .open {
		font-size: 64px;
		font-weight: bold;
	}

	nav.dropdown menu {
		border: var(--menu-border);
		font-family: var(--menu-font);
		max-height: 0;
		opacity: 0;
		overflow: hidden;
		position: absolute;
		right: 1rem;
		top: 2.8rem;
		visibility: hidden;
		transition:
			max-height 0.7s ease,
			opacity 0.2s ease,
			visibility 0.2s ease;
	}

	nav.dropdown:has(:checked) menu {
		max-height: 300px;
		opacity: 1;
		visibility: visible;
		transition: max-height 0.5s ease, opacity 0.3s ease 0.1s;
		/* Delay fade-in slightly */
	}

	nav.dropdown li {
		background-color: var(--menu-item-background-color);
		border-bottom: var(--menu-border);
		color: var(--menu-item-foreground-color);
		font-weight: 500;
		list-style: none;
	}

	nav.dropdown li:last-child {
		border-bottom: none;
	}

	nav.dropdown li:has(.this-page) {
		background-color: var(--menu-item-foreground-color);
		color: var(--menu-item-background-color);
		padding-block: 0.5rem;
		padding-inline: 2rem 2.5rem;
	}

	nav.dropdown a {
		display: flex;
		height: 100%;
		padding-block: 0.5rem;
		padding-inline: 2rem 2.5rem;
		text-decoration: none;
		width: 100%;
	}

	nav.dropdown a:focus,
	nav.dropdown a:hover {
		background-color: var(--menu-item-background-color-hover);
		color: var(--menu-item-foreground-color-hover);
		outline: none;
	}

	nav.dropdown a:active {
		background-color: var(--menu-item-background-color-active);
		color: var(--menu-item-foreground-color-active);
		outline: none;
	}
}
