{
  servers {
    protocols h1 h2 h3
  }
  # Disable automatic HSTS for local development
  default_sni localhost
}

# Grafana
grafana.localhost {
  tls /certs/grafana.localhost.pem /certs/grafana.localhost-key.pem
  basic_auth {
  admin $2a$14$YCHFK08MAbIQdWjcR5OpdetLM8RUYXdoeOVByfguOxEaEjy9dSPJe
  }
  reverse_proxy grafana:3000
}

# Prometheus
prometheus.localhost {
  tls /certs/prometheus.localhost.pem /certs/prometheus.localhost-key.pem
  basic_auth {
  admin $2a$14$YCHFK08MAbIQdWjcR5OpdetLM8RUYXdoeOVByfguOxEaEjy9dSPJe
  }
  reverse_proxy prometheus:9090
}

# Thanos Querier
thanos.localhost {
  tls /certs/thanos.localhost.pem /certs/thanos.localhost-key.pem
  basic_auth {
  admin $2a$14$YCHFK08MAbIQdWjcR5OpdetLM8RUYXdoeOVByfguOxEaEjy9dSPJe
  }
  reverse_proxy thanos-querier:10902
}

# Fuseki
fuseki.localhost {
  tls /certs/fuseki.localhost.pem /certs/fuseki.localhost-key.pem
  reverse_proxy fuseki:3030
}

# MinIO Console
minio.localhost {
  tls /certs/minio.localhost.pem /certs/minio.localhost-key.pem
  reverse_proxy minio:9001
}
