# Local reverse proxy for pretty hostnames

{
  servers {
    protocols h1 h2 h3
  }
}

# Grafana
http://grafana.localhost {
  reverse_proxy grafana:3000
}

# Prometheus
http://prometheus.localhost {
  reverse_proxy prometheus:9090
}

# Thanos Querier
http://thanos.localhost {
  reverse_proxy thanos-querier:10902
}

# Fuseki
http://fuseki.localhost {
  reverse_proxy fuseki:3030
}

# MinIO Console
http://minio.localhost {
  reverse_proxy minio:9001
}
