---
import Layout from "../../../../layouts/index.astro"
---

<Layout>
	<ul>
		<li>
			<strong>Address</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
		<li>
			<strong>BlockQuote</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
		<li>
			<strong>Dialog</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
		<li>
			<strong>Div</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
		<li>
			<strong>Dl</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
			<ul>
				<li>
					<strong>Dd</strong>
					<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
				</li>
				<li>
					<strong>Dt</strong>
					<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
				</li>
			</ul>
		</li>
		<li>
			<strong>Figure</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
			<ul>
				<li>
					<strong>FigCaption</strong>
					<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
				</li>
			</ul>
		</li>
		<li>
			<strong>Footer</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
		<li>
			<strong>Form</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
		<li>
			<strong>Header</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
		<li>
			<strong>Hr</strong>
			<code>= (attributes = {}) =&gt;</code>
			<strong>EMPTY</strong>
		</li>
		<li>
			<strong>Li</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
		<li>
			<strong>Main</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
		<li>
			<strong>Menu</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
		<li>
			<strong>Ol</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
		<li>
			<strong>P</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
		<li>
			<strong>Pre</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
		<li>
			<strong>Search</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
		<li>
			<strong>Table</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
			<ul>
				<li>
					<strong>Caption</strong>
					<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
				</li>
				<li>
					<strong>Col</strong>
					<code>= (attributes = {}) =&gt;</code>
					<strong>EMPTY</strong>
				</li>
				<li>
					<strong>ColGroup</strong>
					<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
				</li>
				<li>
					<strong>TBody</strong>
					<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
				</li>
				<li>
					<strong>Td</strong>
					<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
				</li>
				<li>
					<strong>TFoot</strong>
					<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
				</li>
				<li>
					<strong>Th</strong>
					<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
				</li>
				<li>
					<strong>THead</strong>
					<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
				</li>
				<li>
					<strong>Tr</strong>
					<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
				</li>
			</ul>
		</li>
		<li>
			<strong>Ul</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
	</ul>
</Layout>
