:root {
	--input-background-color: var(--lightest-gray);
	--input-background-color-invalid: var(--lightest-orange);
	--input-background-color-untouched-focus: var(--lightest-gray);
	--input-border-color-untouched-focus: var(--light-medium-green);
	--input-background-color-touched-invalid: var(--lightest-orange);
	--input-background-color-valid: var(--light-green);
	--input-border-color-invalid: var(--light-medium-orange);
	--input-border-color-valid: var(--dark-green);
	--input-foreground-color: var(--dark-gray);
	--input-foreground-color-invalid: var(var(--dark-orange));
	--input-foreground-color-valid: var(var(--dark-green));
	--input-foreground-color-untouched-focus: var(--dark-gray);

	@media (prefers-color-scheme: dark) {
		--input-background-color: var(--dark-medium-gray);
		--input-background-color-invalid: var(--dark-orange);
		--input-background-color-untouched-focus: var(--darkest-gray);
		--input-background-color-touched-invalid: var(--dark-orange);
		--input-background-color-valid: var(--dark-green);
		--input-border-color-invalid: var(--dark-orange);
		--input-border-color-valid: var(--light-green);
		--input-foreground-color: var(--lightest-gray);
		--input-foreground-color-invalid: var(--light-orange);
		--input-foreground-color-valid: var(--light-green);
		--input-foreground-color-untouched-focus: var(--light-gray);
	}
}

input.input {
	font-size: var(--form-field-input-font-size, var(--text-font-size));
	line-height: var(--form-field-input-line-height, 1);
	padding-block: var(--form-field-input-padding-block, var(--space-2xs));
	padding-inline: var(--form-field-input-padding-inline, var(--space-xs));
	border: var(--form-field-input-border, 1px solid var(--light-medium-gray));
	background: var(--form-field-input-background-color, var(--light-gray));
	color: var(--form-field-input-color, var(--color-darkest-gray));
}

@supports (border-radius: 0.375rem) {
	input.input {
		border-radius: var(--form-field-input-border-radius, 0.375rem);
	}
}

@supports (transition: all 0.2s ease) {
	input.input {
		transition: var(--form-field-input-transition, all 0.2s ease);
	}
}

/* After first focus, background stays gray-1 */
input.input[data-touched] {
	background-color: var(--input-background-color-valid);
}

/* Valid state */
input.input[data-touched]:valid {
	border-color: var(--input-border-color-valid);
	color: var(--input-foreground-color-valid);
}

input.input[data-touched]:invalid {
	background-color: var(--input-background-color-touched-invalid);
	border: 2px dashed var(--border-color-invalid);
}

/* First focus state */
input.input:focus:not([data-touched]) {
	outline: var(--form-field-focus-outline);
	outline-offset: var(--form-field-focus-outline-offset);
	background-color: var(--input-background-color-untouched-focus);
	border-color: var(--input-border-color-untouched-focus);
	color: var(--input-foreground-color-untouched-focus);
}

/* Focus outline for touched inputs */
input.input[data-touched]:focus {
	outline: var(--form-field-focus-outline);
	outline-offset: var(--form-field-focus-outline-offset);
}

/* Reduced Motion */
@media (prefers-reduced-motion: reduce) {
	@supports (transition: all 0.2s ease) {
		input.input {
			transition: none;
		}
	}
}
