---
import Layout from "../../../../layouts/index.astro"
---

<Layout>
	<p>
		Returns a function that takes an optional <code>arg</code> and uses it as the
		operand or injects a argument from some other source (e.g., HTML element, query
		string).
	</p>
	<p>
		When called, the returned function returns the operand if it matches the
		<strong>type</strong>, otherwise returns an <code>Error</code>.
	</p>
	<ul>
		<li>
			<strong>IsArray</strong>
			<code>= operand =&gt; (arg =&gt; Either&lt;Error, Array)</code>
		</li>
		<li>
			<strong>IsMap</strong>
			<code>= operand =&gt; (arg =&gt; Either&lt;Error, Map)</code>
		</li>
		<li>
			<strong>IsSet</strong>
			<code>= operand =&gt; (arg =&gt; Either&lt;Error, Set)</code>
		</li>
	</ul>
</Layout>
