---
import toTitleCase from "../../utilities/toTitleCase"

const { segments = [] } = Astro.props
const { pathname } = Astro.url

const path = pathname.replace(/\/$/, "").split("/")
const trail = path
	.reduce(
		(out, seg) => [
			...out,
			seg
				? [(out.at(-1).at(0) || "") + "/" + seg, toTitleCase(seg)]
				: [undefined, "Home"],
		],
		[],
	)
	.slice(0, -1)
---

{
	path.filter(n => n).length ? (
		<nav class="breadcrumbs">
			<ul class="trail">
				{trail.map(([href = "/", label]) => (
					<li>
						<a {href}>{label}</a>
					</li>
				))}
				<li class="this-page">{segments.at(0)}</li>
			</ul>
		</nav>
	) : undefined
}
