/* Minimal utilities */
/* Screen Reader Only */
.sr-only {
	/* Fallback for browsers that don't support clip-path */
	clip: rect(1px, 1px, 1px, 1px);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}

@supports (clip-path: inset(50%)) {
	.sr-only {
		clip: auto;
		clip-path: inset(50%);
	}
}

/* simple margins if needed */
.mt-1 {
	margin-top: 0.25rem;
}

.mt-2 {
	margin-top: 0.5rem;
}

.mt-3 {
	margin-top: 0.75rem;
}
