---
import Layout from "../../../../layouts/index.astro"
---

<Layout>
	<ul>
		<li>
			<strong>Link</strong>
			<code>= (attributes = {}) =&gt;</code>
			<strong>EMPTY</strong>
		</li>
		<li>
			<strong>Meta</strong>
			<code>= (attributes = {}) =&gt;</code>
			<strong>EMPTY</strong>
		</li>
		<li>
			<strong>NoScript</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
		<li>
			<strong>Script</strong>
			<code>= (attributes = {}) =&gt;</code>
			<strong>EMPTY</strong>
		</li>
		<li>
			<strong>Title</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
	</ul>
</Layout>
