---
import Layout from "../../layouts/index.astro"
import Editor from "../../components/Editor/index.astro"

const quote = "Whom the gods would destroy, they first make mad."

const content = `import {
	Q,
	render,
	TextNode,
} from "@sitebender/sitebender"

const output = document.querySelector("#output")
const code = document.querySelector("#code-output")

// Generate a <q> element configuration
const config = Q(
  { id: "my-quote" }
)(
	TextNode(\`${quote}\`)
)

// render the <q> to an <output>
render(output)(config)()

// let's take a look at the config object
if (code) {
	code.innerHTML = JSON.stringify(config, null, 2)
}
`
---

<Layout>
	<p>Here be tutorials.</p>
	<Editor
		{content}
		height="28rem"
	/>
</Layout>
