.in-or-up-form {
	margin: auto;
	max-width: 36rem;
}

.in-or-up-form > fieldset {
	padding-block: 1rem;
}

.in-or-up-form fieldset label {
	margin-block-start: 2rem;
}

.in-or-up-form fieldset input {
	max-width: 32ch;
}

.in-or-up-form p {
	font-size: var(--text-font-size) !important;
}
