---
import Layout from "../../../../layouts/index.astro"
---

<Layout>
	<ul>
		<li>
			<strong>H1</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code> (allow text)
		</li>
		<li>
			<strong>H2</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code> (allow text)
		</li>
		<li>
			<strong>H3</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code> (allow text)
		</li>
		<li>
			<strong>H4</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code> (allow text)
		</li>
		<li>
			<strong>H5</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code> (allow text)
		</li>
		<li>
			<strong>H6</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code> (allow text)
		</li>
		<li>
			<strong>HGroup</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
		<li>
			<strong>Hn</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code> (allow text)
		</li>
	</ul>
</Layout>
