---
import Layout from "../layouts/index.astro"

import FromAPI from "../../lib/injectors/constructors/FromAPI"
import composeOperators from "../../lib/operations/composers/composeOperators"

const op = FromAPI()({
	url: "https://jsonplaceholder.typicode.com/users",
	method: "GET",
	headers: {
		Accept: "application/json",
	},
})

// console.log(JSON.stringify(await composeOperators(op)(), null, 2))
---

<Layout>
	<p>
		<strong>@sitebender</strong> is a JavaScript library that permits the user to
		render entire web pages or even full web applications from a JSON configuration.
	</p>
	<p>
		This includes the ability to validate inputs; do complex, nested
		calculations; conditionally display elements; inject data dynamically from
		virtually any source; and more.
	</p>
	<p>
		Because all rendering is controlled by a JavaScript or JSON configuration
		object, that object can be persisted in a data store or made available
		through an API. It is equally possible to render only parts of pages, and to
		rerender as necessary.
	</p>
</Layout>
