:root {
	/* grays */
	--lightest-gray-hsl: hsl(0, 0%, 97%);
	--lightest-gray-oklch: oklch(97.72% 0 0);
	--lightest-gray-p3: color(display-p3 0.97 0.97 0.97);
	--lightest-gray: var(
		--lightest-gray-p3,
		var(--lightest-gray-oklch, var(--lightest-gray-hsl))
	);

	--light-gray-hsl: hsl(0, 0%, 92%);
	--light-gray-oklch: oklch(93.89% 0 0);
	--light-gray-p3: color(display-p3 0.92 0.92 0.92);
	--light-gray: var(
		--light-gray-p3,
		var(--light-gray-oklch, var(--light-gray-hsl))
	);

	--light-medium-gray-hsl: hsl(0, 0%, 65%);
	--light-medium-gray-oklch: oklch(72.44% 0 0);
	--light-medium-gray-p3: color(display-p3 0.65 0.65 0.65);
	--light-medium-gray: var(
		--light-medium-gray-p3,
		var(--light-medium-gray-oklch, var(--light-medium-gray-hsl))
	);

	--dark-medium-gray-hsl: hsl(223.81 0% 44%);
	--dark-medium-gray-oklch: oklch(0.54 0 0);
	--dark-medium-gray-p3: color(display-p3 0.4353 0.4353 0.4353);
	--dark-medium-gray: var(
		--dark-medium-gray-p3,
		var(--dark-medium-gray-oklch, var(--dark-medium-gray-hsl))
	);

	--dark-gray-hsl: hsl(0, 0%, 24%);
	--dark-gray-oklch: oklch(36.08% 0 0);
	--dark-gray-p3: color(display-p3 0.24 0.24 0.24);
	--dark-gray: var(
		--dark-gray-p3,
		var(--dark-gray-oklch, var(--dark-gray-hsl))
	);

	--darkest-gray-hsl: hsl(223.81 0% 15%);
	--darkest-gray-oklch: oklch(27.27% 0 0);
	--darkest-gray-p3: color(display-p3 0.1529 0.1529 0.1529);
	--darkest-gray: var(
		--darkest-gray-p3,
		var(--darkest-gray-oklch, var(--darkest-gray-hsl))
	);

	/* reds */
	--light-medium-red-hsl: hsl(334.89 100% 62%);
	--light-medium-red-oklch: oklch(0.67 0.2356 1.04);
	--light-medium-red-p3: color(display-p3 0.9214 0.3044 0.5496);
	--light-medium-red: var(
		--light-medium-red-p3,
		var(--light-medium-red-oklch, var(--light-medium-red-hsl))
	);

	--dark-medium-red-hsl: hsl(348.49 100% 44%);
	--dark-medium-red-oklch: oklch(0.57 0.2311 23.72);
	--dark-medium-red-p3: color(display-p3 0.8054 0.171 0.2053);
	--dark-medium-red: var(
		--dark-medium-red-p3,
		var(--dark-medium-red-oklch, var(--dark-medium-red-hsl))
	);

	/* oranges */
	--lightest-orange-hsl: hsl(18 100% 98%);
	--lightest-orange-oklch: oklch(0.98 0.0085 44.89);
	--lightest-orange-p3: color(display-p3 0.9952 0.9735 0.9624);
	--lightest-orange: var(
		--lightest-orange-p3,
		var(--lightest-orange-oklch, var(--lightest-orange-hsl))
	);

	--light-orange-hsl: hsl(16.96 100% 91%);
	--light-orange-oklch: oklch(0.92 0.0408 42.72);
	--light-orange-p3: color(display-p3 0.9787 0.8753 0.8269);
	--light-orange: var(
		--light-orange-p3,
		var(--light-orange-oklch, var(--light-orange-hsl))
	);

	--light-medium-orange-hsl: hsl(23.54 100% 47%);
	--light-medium-orange-oklch: oklch(0.66 0.2017 46.13);
	--light-medium-orange-p3: color(display-p3 0.8787 0.4087 0.0926);
	--light-medium-orange: var(
		--light-medium-orange-p3,
		var(--light-medium-orange-oklch, var(--light-medium-orange-hsl))
	);

	--dark-orange-hsl: hsl(16.93 100% 23%);
	--dark-orange-oklch: oklch(0.38 0.1234 38.22);
	--dark-orange-p3: color(display-p3 0.4223 0.1543 0.0522);
	--dark-orange: var(
		--dark-orange-p3,
		var(--dark-orange-oklch, var(--dark-orange-hsl))
	);

	/* yellows */
	--light-yellow-hsl: hsl(51.92 100% 62%);
	--light-yellow-oklch: oklch(0.92 0.1743 99.94);
	--light-yellow-p3: color(display-p3 0.9829 0.9016 0.3774);
	--light-yellow: var(
		--light-yellow-p3,
		var(--light-yellow-oklch, var(--light-yellow-hsl))
	);

	/* greens */
	--light-green-hsl: hsl(137.15 100% 93%);
	--light-green-oklch: oklch(0.97 0.0491 154.32);
	--light-green-p3: color(display-p3 0.8891 0.9958 0.9088);
	--light-green: var(
		--light-green-p3,
		var(--light-green-oklch, var(--light-green-hsl))
	);

	--light-medium-green-hsl: hsl(153.71 100% 31%);
	--light-medium-green-oklch: oklch(0.62 0.1543 154.62);
	--light-medium-green-p3: color(display-p3 0.2772 0.6179 0.3789);
	--light-medium-green: var(
		--light-medium-green-p3,
		var(--light-medium-green-oklch, var(--light-medium-green-hsl))
	);

	--dark-green-hsl: hsl(150.83 100% 14%);
	--dark-green-oklch: oklch(0.35 0.088259 154.3714);
	--dark-green-p3: color(display-p3 0.1092 0.2776 0.1582);
	--dark-green: var(
		--dark-green-p3,
		var(--dark-green-oklch, var(--dark-green-hsl))
	);
}
