:root {
	--label-foreground-color: var(--dark-gray);

	@media (prefers-color-scheme: dark) {
		--label-foreground-color: var(--lightest-gray);
	}
}

.label {
	font-family: var(--heading-font);
	font-size: var(--text-font-size);
	color: var(--label-foreground-color);
}
