---
import Layout from "../../../../layouts/index.astro"
---

<Layout>
	<ul>
		<li>
			<strong>A</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
		<li>
			<strong>Button</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
		<li>
			<strong>Details</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
			<ul>
				<li>
					<strong>Summary</strong>
					<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
					(allow text)
				</li>
			</ul>
		</li>
		<li>
			<strong>Input</strong>
			<ul>
				<li>
					<strong>InputButton</strong>
					<code>= (attributes = {}) =&gt;</code>
					<strong>EMPTY</strong>
				</li>
				<li>
					<strong>InputCheckbox</strong>
					<code>= (attributes = {}) =&gt;</code>
					<strong>EMPTY</strong>
				</li>
				<li>
					<strong>InputColor</strong>
					<code>= (attributes = {}) =&gt;</code>
					<strong>EMPTY</strong>
				</li>
				<li>
					<strong>InputDate</strong>
					<code>= (attributes = {}) =&gt;</code>
					<strong>EMPTY</strong>
				</li>
				<li>
					<strong>InputDateTimeLocal</strong>
					<code>= (attributes = {}) =&gt;</code>
					<strong>EMPTY</strong>
				</li>
				<li>
					<strong>InputEmail</strong>
					<code>= (attributes = {}) =&gt;</code>
					<strong>EMPTY</strong>
				</li>
				<li>
					<strong>InputFile</strong>
					<code>= (attributes = {}) =&gt;</code>
					<strong>EMPTY</strong>
				</li>
				<li>
					<strong>InputHidden</strong>
					<code>= (attributes = {}) =&gt;</code>
					<strong>EMPTY</strong>
				</li>
				<li>
					<strong>InputImage</strong>
					<code>= (attributes = {}) =&gt;</code>
					<strong>EMPTY</strong>
				</li>
				<li>
					<strong>InputMonth</strong>
					<code>= (attributes = {}) =&gt;</code>
					<strong>EMPTY</strong>
				</li>
				<li>
					<strong>InputNumber</strong>
					<code>= (attributes = {}) =&gt;</code>
					<strong>EMPTY</strong>
				</li>
				<li>
					<strong>InputPassword</strong>
					<code>= (attributes = {}) =&gt;</code>
					<strong>EMPTY</strong>
				</li>
				<li>
					<strong>InputRadio</strong>
					<code>= (attributes = {}) =&gt;</code>
					<strong>EMPTY</strong>
				</li>
				<li>
					<strong>InputRange</strong>
					<code>= (attributes = {}) =&gt;</code>
					<strong>EMPTY</strong>
				</li>
				<li>
					<strong>InputReset</strong>
					<code>= (attributes = {}) =&gt;</code>
					<strong>EMPTY</strong>
				</li>
				<li>
					<strong>InputSearch</strong>
					<code>= (attributes = {}) =&gt;</code>
					<strong>EMPTY</strong>
				</li>
				<li>
					<strong>InputSubmit</strong>
					<code>= (attributes = {}) =&gt;</code>
					<strong>EMPTY</strong>
				</li>
				<li>
					<strong>InputTel</strong>
					<code>= (attributes = {}) =&gt;</code>
					<strong>EMPTY</strong>
				</li>
				<li>
					<strong>InputText</strong>
					<code>= (attributes = {}) =&gt;</code>
					<strong>EMPTY</strong>
				</li>
				<li>
					<strong>InputTime</strong>
					<code>= (attributes = {}) =&gt;</code>
					<strong>EMPTY</strong>
				</li>
				<li>
					<strong>InputUrl</strong>
					<code>= (attributes = {}) =&gt;</code>
					<strong>EMPTY</strong>
				</li>
				<li>
					<strong>InputWeek</strong>
					<code>= (attributes = {}) =&gt;</code>
					<strong>EMPTY</strong>
				</li>
			</ul>
		</li>
		<li>
			<strong>Label</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code> (allow text)
		</li>
		<li>
			<strong>Select</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
			<ul>
				<li>
					<strong>OptGroup</strong>
					<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
				</li>
				<li>
					<strong>Option</strong>
					<code>= (attributes = {}) =&gt; label =&gt;</code>
					<ul>
						<li><code>label</code> is a string</li>
					</ul>
				</li>
			</ul>
		</li>
		<li>
			<strong>TextArea</strong>
			<code>= (attributes = {}) =&gt; content =&gt;</code>
			<ul>
				<li><code>content</code> is a string</li>
			</ul>
		</li>
	</ul>
</Layout>
