---
import Layout from "../../../layouts/index.astro"
---

<Layout>
	<ul>
		<li>
			<strong>TextNode</strong>
			<code>= content =&gt;</code>
			<ul>
				<li><code>content</code> is a string</li>
			</ul>
		</li>
	</ul>
</Layout>
