---
import Layout from "../../../layouts/index.astro"
---

<Layout>
	<ul>
		<li>
			<strong>Html</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
			<ul>
				<li>
					<strong>Body</strong>
					<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
				</li>
				<li>
					<strong>Head</strong>
					<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
				</li>
			</ul>
		</li>
	</ul>
</Layout>
