---
import Layout from "../../../../layouts/index.astro"
---

<Layout>
	<ul>
		<li>
			<strong>Fieldset</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
			<ul>
				<li>
					<strong>Legend</strong>
					<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
				</li>
			</ul>
		</li>
		<li>
			<strong>Meter</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
		<li>
			<strong>Output</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
		<li>
			<strong>Progress</strong>
			<code>= (attributes = {}) =&gt; (children = []) =&gt;</code>
		</li>
	</ul>
</Layout>
