:root {
	--step-0: clamp(1rem, 0.9375rem + 0.3125vw, 1.25rem);
	--step-1: clamp(1.2rem, 1.125rem + 0.375vw, 1.5rem);
	--step-2: clamp(1.44rem, 1.35rem + 0.45vw, 1.8rem);
	--step-3: clamp(1.728rem, 1.62rem + 0.54vw, 2.16rem);
	--step-4: clamp(2.0736rem, 1.944rem + 0.648vw, 2.592rem);
	--step-5: clamp(2.4883rem, 2.3328rem + 0.7776vw, 3.1104rem);
	--sb-color-green-shaded: #0e4e09;
	--sb-color-code: var(--sb-color-green-shaded);
	--sb-font-code: menlo, consolas, ui-monospace, "Cascadia Code",
		"Source Code Pro", "DejaVu Sans Mono", monospace;
}

.sb-sr-only {
	display: none !important;
}

html,
body {
	font-family: system-ui, sans-serif;
	font-size: var(--step-0, 16px);
	font-weight: normal;
	line-height: 1.6;
	margin: 0;
	padding: 0;
	width: 100vw;
}

body {
	background-color: snow;
	display: grid;
	gap: 0;
	grid-template-rows: min-content min-content 100%;
}

a {
	color: darkblue;
	text-decoration: none;
}

a:focus,
a:hover {
	color: blue;
	text-decoration: underline;
	text-underline-offset: 3px;
}

a:active {
	color: firebrick;
}

a:visited {
	color: blueviolet;
}

header {
	background-color: darkslategray;
	border-bottom: 1px solid gainsboro;
	color: snow;
	font-size: var(--step-2, 1.44rem);
	font-weight: 400;
	margin: 0;
	padding-block: 0.5rem;
	padding-inline: 3dvw;
}

header a.logo {
	color: white;
	text-decoration: none;
}

a.logo:focus,
a.logo:hover {
	text-decoration: underline;
	text-underline-offset: 3px;
}

h1,
h2 {
	font-weight: 400;
	margin-block: -0.25rem 1rem;
	margin-inline: 0;
	padding: 0;
}

h1 {
	font-size: var(--step-2, 1.44rem);
}

h2 {
	font-size: var(--step-1, 1.2rem);
}

main {
	display: grid;
	gap: 0;
	grid-template-areas: "nav article";
	grid-template-columns: min-content auto;
	font-size: var(--step-0, 1rem);
	font-weight: 300;
	height: 100%;
	line-height: 1.5;
	margin: 0;
	padding-block: 2rem;
	padding-inline: 3dvw;
}

main > nav {
	display: none;
	grid-area: nav;
	margin-inline-end: 0;
}

main > nav:has(li) {
	display: unset;
	margin-inline-end: 4rem;
}

main > article {
	grid-area: article;
	max-width: min(42rem, 90dvw);
}

ol,
ul {
	margin-block: 0 1rem;
	margin-inline: 0;
	padding: 0;
}

ul {
	list-style-type: "\00B7\00A0\00A0";
}

ol ol,
ol ul,
ul ol,
ul ul {
	margin-inline-start: 2rem;
	margin-block-end: 0;
}

li {
	line-height: 1.6;
}

li strong {
	color: darkgreen;
}

p {
	line-height: 1.6;
	margin-block: 0 1.5rem;
	margin-inline: 0;
	padding: 0;
}

nav.breadcrumbs {
	background-color: ghostwhite;
	border-bottom: 1px solid gainsboro;
	color: darkslategray;
	font-size: 1rem;
	margin: 0;
	padding-block: 0;
	padding-inline: 3dvw;
}

.trail {
	list-style-type: none;
	align-items: center;
	display: flex;
	gap: 0;
	justify-content: flex-start;
	margin-block-end: 0;
	padding-block: 0.5rem;
}

.trail a {
	color: darkblue;
	text-decoration: none;
}

.trail a:focus,
.trail a:hover {
	color: blue;
	text-decoration: underline;
	text-underline-offset: 3px;
}

.trail li:not(.this-page)::after {
	color: #999;
	content: ">";
	display: inline-block;
	padding-inline: 0.5rem 0.75rem;
	text-align: center;
}

#sb-editor {
	border: 1px double gainsboro;
	min-width: 80lvw;
}

#sb-editor > div {
	min-height: 100%;
}

#sb-editor main {
	padding: 0;
}

figure {
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-start;
	margin-block: 1.5rem;
	margin-inline: 0;
}

figure img {
	height: auto;
	width: 100%;
}

figcaption {
	font-size: var(--step-0);
	text-align: center;
}

code {
  font-size: 1rem;
}

[data-rehype-pretty-code-figure] pre {
  padding-block: 0.25rem;
}

[data-rehype-pretty-code-figure] code {
  counter-reset: line;
  font-size: 0.85rem;
}

[data-rehype-pretty-code-figure] code > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

[data-rehype-pretty-code-figure] code[data-line-numbers-max-digits="2"] > [data-line]::before {
  width: 2rem;
}

[data-rehype-pretty-code-figure] code[data-line-numbers-max-digits="3"] > [data-line]::before {
  width: 3rem;
}
