:root {
	--step-0: clamp(1rem, 0.9375rem + 0.3125vw, 1.25rem);
	--step-1: clamp(1.2rem, 1.125rem + 0.375vw, 1.5rem);
	--step-2: clamp(1.44rem, 1.35rem + 0.45vw, 1.8rem);
	--step-3: clamp(1.728rem, 1.62rem + 0.54vw, 2.16rem);
	--step-4: clamp(2.0736rem, 1.944rem + 0.648vw, 2.592rem);
	--step-5: clamp(2.4883rem, 2.3328rem + 0.7776vw, 3.1104rem);
	--sb-color-green-shaded: #0e4e09;
	--sb-color-code: var(--sb-color-green-shaded);
	--sb-font-code: menlo, consolas, ui-monospace, "Cascadia Code",
		"Source Code Pro", "DejaVu Sans Mono", monospace;
}

.sb-sr-only {
	display: none !important;
}

html,
body {
	font-family: system-ui, sans-serif;
	font-size: var(--step-0, 16px);
	font-weight: normal;
	line-height: 1.6;
	margin: 0;
	padding: 0;
	width: 100vw;
}

body {
	background-color: snow;
	display: grid;
	gap: 0;
	grid-template-rows: min-content min-content 100%;
}

code {
	font-size: 1rem;
}

code:not(:has(*)) {
	color: darkgreen;
	font-weight: bold;
	display: inline;
	margin: -3px;
	padding: 3px;
}

h1 code {
	font-size: var(--step-2);
}

h2 code {
	font-size: var(--step-1);
}

a,
a code {
	color: darkblue;
	text-decoration: none;
}

dt code {
	font-size: var(--step-1);
}

[data-rehype-pretty-code-figure] code {
	counter-reset: line;
	font-size: 0.85rem;
}

a:focus,
a:hover {
	color: blue;
	text-decoration: underline;
	text-underline-offset: 3px;
}

a:focus code,
a:hover code {
	color: blue;
}

a:active,
a:active code {
	color: firebrick;
}

a:visited,
a:visited code {
	color: blueviolet;
}

header {
	background-color: darkslategray;
	border-bottom: 1px solid gainsboro;
	color: snow;
	font-size: var(--step-2, 1.44rem);
	font-weight: 400;
	margin: 0;
	padding-block: 0.5rem;
	padding-inline: 3dvw;
}

header a.logo {
	color: white;
	text-decoration: none;
}

a.logo:focus,
a.logo:hover {
	text-decoration: underline;
	text-underline-offset: 3px;
}

h1,
h2 {
	font-weight: 400;
	margin-block: -0.25rem 1rem;
	margin-inline: 0;
	padding: 0;
}

h1 {
	font-size: var(--step-3, 1.44rem);
}

h2 {
	font-size: var(--step-2, 1.2rem);
}

main {
	display: grid;
	gap: 0;
	grid-template-areas: "nav article";
	grid-template-columns: min-content auto;
	font-size: var(--step-0, 1rem);
	font-weight: 300;
	height: 100%;
	line-height: 1.5;
	margin: 0;
	padding-block: 2rem;
	padding-inline: 3dvw;
}

details.nav summary {
	display: none;
}

@media (width <= 48rem) {
	main {
		grid-template:
			"nav" min-content
			"article" auto / 1fr;
		padding-inline: 3dvw;
	}

	.nav nav {
		margin-inline-start: 5lvw;
	}

	details.nav {
		margin-block-end: 2rem;
	}

	details.nav summary {
		list-style-position: inside;
		display: list-item;
		font-size: var(--step-1);
		margin-block-end: 0.5rem;
	}

	.trail .this-page {
		display: none;
	}
}

main > details {
	grid-area: nav;
	display: none;
	margin-inline-end: 0;
}

main > details:has(li) {
	display: unset;
	margin-inline-end: 4rem;
}

main > article {
	grid-area: article;
	max-width: min(42rem, 90dvw);
}

ol,
ul {
	margin-block: 0 1rem;
	margin-inline: 0;
	padding: 0;
}

ul {
	list-style-type: none;
}

ol ol,
ol ul,
ul ol,
ul ul {
	margin-inline-start: 2rem;
	margin-block-end: 0;
}

.bulleted {
	list-style-type: disc;
}

li {
	line-height: 1.6;
}

main > details li {
	white-space: nowrap;
}

li strong {
	color: darkgreen;
}

p {
	line-height: 1.6;
	margin-block: 0 1.5rem;
	margin-inline: 0;
	padding: 0;
}

nav.breadcrumbs {
	background-color: ghostwhite;
	border-bottom: 1px solid gainsboro;
	color: darkslategray;
	font-size: 1rem;
	margin: 0;
	padding-block: 0;
	padding-inline: 3dvw;
}

.trail {
	list-style-type: none;
	align-items: center;
	display: flex;
	gap: 0;
	justify-content: flex-start;
	margin-block-end: 0;
	padding-block: 0.5rem;
}

.trail ul {
	align-items: center;
	display: flex;
	flex-wrap: wrap;
	justify-content: flex-start;
}

.trail li {
	white-space: nowrap;
}

.trail a {
	color: darkblue;
	text-decoration: none;
}

dt a:has(code):focus,
dt a:has(code):hover {
	color: darkgreen;
}

.trail a:focus,
.trail a:hover {
	color: blue;
	text-decoration: underline;
	text-underline-offset: 3px;
}

.trail li:not(.this-page)::after {
	color: #bbb;
	content: "➤";
	display: inline-block;
	padding-inline: 0.5rem 0.75rem;
	text-align: center;
}

span.this-page {
	color: firebrick;
	font-weight: 500;
}

li:has(span.this-page) {
	list-style-type: square;
}

#sb-editor {
	border: 1px double gainsboro;
	min-width: 75lvw;
}

#sb-editor > div {
	min-height: 100%;
}

#sb-editor main {
	padding: 0;
}

figure {
	display: flex;
	flex-direction: column-reverse;
	justify-content: flex-start;
	margin-block: 1.5rem;
	margin-inline: 0;
}

figure img {
	height: auto;
	width: 100%;
}

figcaption {
	font-size: var(--step-0);
	text-align: center;
}

dt {
	margin-block: 1rem 0;
	font-size: var(--step-1);
}

dd {
	margin-block: 0.5rem 1rem;
	margin-inline: 0;
}

dd:has(pre),
dd figure:has(pre),
dd pre {
	margin: 0;
}

section#sb-editor {
	margin-block-end: 2rem;
}

span[data-line] {
	overflow-x: scroll;
}

[data-rehype-pretty-code-figure] pre {
	padding-block: 0.5rem;
}

[data-rehype-pretty-code-figure] code > [data-line]::before {
	counter-increment: line;
	content: counter(line);
	display: inline-block;
	width: 1rem;
	margin-right: 2rem;
	text-align: right;
	color: gray;
}

[data-rehype-pretty-code-figure]
	code[data-line-numbers-max-digits="2"]
	> [data-line]::before {
	width: 2rem;
}

[data-rehype-pretty-code-figure]
	code[data-line-numbers-max-digits="3"]
	> [data-line]::before {
	width: 3rem;
}
