---
import toTitleCase from "../../utilities/toTitleCase"

const { pathname } = Astro.url

const pathPattern = /^..\/..\/pages(.+)\/index.astro$/
const path = pathname.replace(/\/$/, "")
const parent = path.substring(0, path.lastIndexOf("/"))

const dirs = Object.keys(import.meta.glob("../../pages/**")).map(
	s => s.match(pathPattern)?.[1],
)

const getChildren = p =>
	dirs
		.filter((s = "/") => {
			const i = s.lastIndexOf("/")

			return s.substring(0, i) === p
		})
		.filter(f => f)

const children = getChildren(path)

const mapFolders = paths =>
	paths.map(s => [s, toTitleCase(s.substring(s.lastIndexOf("/") + 1))])

const folders = mapFolders(children.length ? children : getChildren(parent))
---

{
	folders.length ? (
		<details
			class="nav"
			open
		>
			<summary>
				<strong>Navigation</strong>
			</summary>
			<nav>
				<ul>
					{folders.map(([href, label]) =>
						href === pathname ? (
							<li>
								<span class="this-page">{label}</span>
							</li>
						) : (
							<li>
								<a {href}>{label}</a>
								{href === pathname}
							</li>
						),
					)}
				</ul>
			</nav>
		</details>
	) : undefined
}
