---
import toTitleCase from "../../utilities/toTitleCase"

const { pathname } = Astro.url
const path = pathname.replace(/\/$/, "")

const folders = Object.keys(import.meta.glob("../../pages/**"))
	.map(s => s.substring(11))
	.map(s => s.replace(/\/index.astro$/, ""))
	.filter(s => {
		const i = (s || "/").lastIndexOf("/")

		return s.substring(0, i) === path
	})
	.filter(f => f)
	.map(s => [s, toTitleCase(s.substring(s.lastIndexOf("/") + 1))])
---

{
	folders.length ? (
		<nav>
			<ul>
				{folders.map(([href, label]) => (
					<li>
						<a {href}>{label}</a>
					</li>
				))}
			</ul>
		</nav>
	) : undefined
}
