:root {
  --background-color-header: #035;
  --background-color-overlay: #00000080;
  --box-shadow-color: #0003;
  --foreground-color-header: #fff;
  --foreground-color-username: #00AAD4;
  --font-family: ubuntu, sans-serif;
}

body {
  font-family: var(--font-family, sans-serif);
  font-weight: normal;
  font-size: 1rem;
  margin: 0;
  padding: 0;
}

body > header {
  align-items: center;
  background-color: var(--background-color-header, #035);
  color: var(--foreground-color-header, #fff);
  display: flex;
  justify-content: space-between;
  padding: 0.3125rem 0.625rem;
}

hr.vertical {
  border-right: 1px solid #fff;
  overflow: visible;
  height: 3.125rem;
  width: 0;
}

hr.vertical.right {
  display: none;
}

.overlay {
  height: 100%;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--background-color-overlay, #00000080);
  display: none;
  transition: 0.3s;
  z-index: -1;
}

.overlay.open {
  display: block;
}

img#logo {
  display: none;
}

.hamburger {
  cursor: pointer;
  display: block;
  font-size: 2.25rem;
}

.logo-section {
  align-items: center;
  display: flex;
  gap: 0.625rem;
  justify-content: space-around;
}

.title-section {
  flex-grow: 1;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-section {
  align-content: center;
  display: none;
  flex-direction: column;
  max-width: 10rem;
  padding-inline-start: 20px;
}

.logo-section p {
  font-size: 1rem;
}

.logo-section .name {
  display: inline-block;
  margin-right: 0.625rem;
}

.side-drawer {
  height: 100%;
  width: 16rem;
  position: fixed;
  top: 0;
  left: -16rem;
  background-color: var(--background-color-header, #035);
  color: var(--foreground-color-header, #fff);
  overflow-x: hidden;
  transition: 0.3s;
  padding-top: 3.75rem;
}

.side-drawer a {
  padding: 0.5rem 1rem;
  text-decoration: none;
  font-size: 1.125rem;
  color: var(--foreground-color-header, #fff);
  display: block;
  transition: 0.3s;
}

.side-drawer a:hover {
  background-color: var(--foreground-color-username, #00aad4);
}

.side-drawer i {
  font-size: 1rem;
  margin-left: 0.25rem;
}

.side-drawer p {
  font-size: 1rem;
  padding: 0.25rem 1rem;
}

.side-drawer .username {
  color: var(--foreground-color-username, #00aad4);
  margin-top: 2.5rem;
}

.side-drawer.open {
  left: 0;
}

.title-section ul {
  display: none;
}

.title-section .nav-item {
  position: relative;
}

.title-section .nav-item.active {
  color: var(--foreground-color-username, #00AAD4);
}

.title-section .dropdown-content {
  display: none;
  position: absolute;
  background-color: var(--background-color-header, #035);
  color: var(--foreground-color-header, #fff);
  min-width: 10rem;
  box-shadow: 0 0.5rem 1rem var(--box-shadow-color, #0003);
  padding: 0.75rem 1rem;
  z-index: 1;
}

.title-section .nav-item.active .dropdown-content {
  display: block;
}

.title-section .title {
  font-size: 1rem;
  margin-left: 0.5rem;
}

.title-section .small-title {
  font-size: 1rem;
  margin-left: 0.5rem;
}

.user-section p {
  font-size: 1rem;
  margin: 0;
}

.user-section .username {
  color: var(--foreground-color-username, #00AAD4);
}

.user-section .sign-out {
  display: none;
  cursor: pointer;
}

@media screen and (width  >= 48rem) {
  body > header {
    height: 6.25rem;
    padding: 0.625rem 5rem;
  }

  hr.vertical {
    height: 5rem;
  }

  hr.vertical.right {
    display: block;
  }

  .logo-section {
    flex-basis: 7rem;
    margin-right: 1.25rem;
  }

  .user-section {
    display: flex;
    flex-basis: max-content;
  }

  .title-section {
    display: inline-block;
    flex-basis: auto;
    margin-left: 1.25rem;
  }

  img#logo {
    display: inline;
    width: 6.25rem;
    margin-right: 0.75rem;
  }

  .hamburger {
    display: none;
  }

  .logo-section .name {
    display: none;
  }

  .title-section ul {
    display: flex;
    flex-direction: row;
    list-style: none;
  }

  .title-section li {
    margin-left: 1.75rem;
    cursor: pointer;
  }

  .title-section .dropdown-arrow {
    margin-left: 0.5rem;
  }

  .title-section .title {
    font-size: 1.625rem;
  }

  .title-section .small-title {
    font-size: 1.625rem;
  }

  .user-section p {
    font-size: 1rem;
  }

  .user-section .sign-out {
    display: inline;
    margin-top: 0.375rem;
  }
}
